.chOder {
    color: #2b2b2b;
    font-size: 20px;
    margin: 30px 0 20px 0px;
    font-family: "Product Sans Medium";
  }
  .w-25 {
    width: 25% !important;
  }
  .order-item-font {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #2b2b2b;
  }
  .order-no-grey {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: rgba(43, 43, 43, 0.8);
  }
  .order-no-blue {
    color: #029b97;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    font-family: "Product Sans Bold" !important;
  }