.shopping-cart-container {
    position: absolute;
    width: 100%;
    top: -20px;
    left: 0;
    background: #fafafa;
    min-height: 100%;
    &__header {
      display: flex;
      justify-content: center;
      position: sticky;
      top: -20px;
      z-index: 2;
      background: #fafafa;
      &__back-btn {
        position: absolute;
        left: 0px;
      }
    }
    &__content-section {
      padding-top: 30px;
      &__item {
        background: #fff;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        max-height: 130px;
        &__left {
          width: 50%;
          border-right: 1px solid #ddd;
          padding: 17px;
          display: flex;
          height: 130px;
          &__img {
            width: fit-content;
            img {
              width: 100px;
              height: 100px;
            }
          }
          &__details {
            width: 60%;
            padding: 7px 20px;
          }
        }
        &__right {
          width: 50%;
          padding: 20px;
          .quantiy-selection {
            .decreaseQuantity {
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              font-size: 20px;
              cursor: pointer;
            }
            .increaseQuantity {
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              border-radius: 50%;
              font-size: 20px;
              padding-bottom: 2px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  @media (max-width: 750px) {
    .shopping-cart-container {
      &__content-section {
        &__item {
          max-height: 130px;
          &__left {
            width: 50%;
            border-right: 1px solid #ddd;
          }
          &__right {
            width: 50%;
          }
        }
      }
    }
  }
  @media (max-width: 550px) {
    .shopping-cart-container {
      &__content-section {
        &__item {
          max-height: 205px;
          &__left {
            width: 100% !important;
            border: none;
             &__img {
            width: fit-content;
            img {
              width: 100%;
              height: 100%;
            }
          }
            &__right {
            width: 100% !important;
            }
            
          }
        }
      }
    }
  }